{% extends 'base.html' %}
{% block title %}
    我的网站
{% endblock %}

{% block content %}
   <p>一共有{{ page_of_blogs.paginator.count|length }}篇博客</p>
   {% for blog in page_of_blogs.object_list %}
       <!--进入blog_detail页面-->
       <a href= "{% url 'blog_detail' blog.pk %}">
         <h3>{{ blog.title }}</h3>
       </a>
       <p>{{ blog.content|truncatechars:30}}</p>
   {% endfor %}


    <div>
      <ul class="pagination">
        <li>
            {% if page_of_blogs.has_previous %}
               <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
               </a>
            {% else %}
                  <span aria-hidden="true">&laquo;</span>
            {% endif %}

        </li>
          {% for page_num in page_of_blogs.paginator.page_range %}
              <li><a href="?page={{ page_num }}">{{page_num }}</a></li>
            {% endfor %}
        <li>
            {% if page_of_blogs.has_next %}
               <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
               </a>
            {% else %}
                  <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
      </ul>
    </div>


{% endblock %}